# Entornos virtuales (¡CRÍTICO no subir esto!)
.venv1/
.venv/
env/
venv/

# Carpetas de generación de la fábrica
output/
temp/

# Archivos multimedia pesados (ignoramos videos y audios grandes)
*.mp4
*.mp3
*.wav

# Configuraciones locales de PyCharm
.idea/

# Caché interno de Python
__pycache__/
*.pyc
*.pyo

# Archivos de configuración de variables y APIs (Para cuando usemos claves reales)
.env


# Modelos pesados (Se quedan solo en tu PC)
models/
*.pth
*.index
*.zip

# Archivos temporales
assets/audio_*.mp3
guion_test.json
temp/
__pycache__/

# Seguridad y Entorno
.env
.venv1/
browser_session/

# Videos generados
output/*.mp4